header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 20px 100px;
	z-index: 1000;
	background-color: #fff;
}

header .logo {
	position: relative;
	font-weight: 700;
	color: #0b0909;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #0b0909;
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.4s;
}

/* Ajout de l'effet de survol */
header ul li a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: #3498db;
	left: 0;
	bottom: -5px;
	transition: width 0.3s ease;
}

header ul li a:hover {
	color: #3498db;
}

header ul li a:hover::after {
	width: 100%;
}

/* Modification pour le mode sticky */
header.sticky ul li a:hover {
	color: #3498db;
}

header.sticky ul li a::after {
	background: #3498db;
}

header.sticky {
	padding: 10px 100px;
	background: #0b0909;
}

header.sticky ul li a,
header.sticky .logo {
	color: #fff;
}

.row {
	margin-top: 0;
}

.menu-icon {
	display: none;
	cursor: pointer;
}
.menu-icon img {
	width: 30px;
	height: 30px;
}
@media (max-width: 768px) {
	header{
		padding-left: 20px;
	}
	.menu-icon {
		display: block;
	}

	header ul {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 20px;
		background-color: #fff;
		width: 200px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	header ul.active {
		display: flex;
	}

	header ul li {
		margin: 10px 0;
	}
}
