body {
  margin: 0;
  /* background-image: url(/src/images/corvette.jpg); */
  background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
  background-size: cover; /* Ajuste la taille de l'image pour remplir l'arrière-plan */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
